@import 'materialize-css/dist/css/materialize.min.css';


html, body {
  font-family: "Raleway", sans-serif; 
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color:#F9C80E ;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*footer*/


.page-footer {
  margin-top:30px;
  background-color: #662E9B!important;
 
}

.footer-link {
  color: #43BCCD;
  font-size: 20px;
}

.social-link {
  color: #43BCCD;
  font-size: 20px;
}

/*Navigation bar*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #662E9B;
}

.left-nav {
  display: flex;
  list-style: none;
}

.right-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
}

.box {
  position: relative;
}

.input {
  padding: 10px;
  width: 40px;
  height: 40px;
  background: none;
  border: 4px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  transition: 0.5s;
}

.box:hover .input {
  width: 200px;
  background: white;
  border-radius: 10px;
  margin-right: 20px;
}

.search-icon {
  position: absolute;
  top:50px;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  transition:0.2s;
  color:#43BCCD;
 
}

.box:hover .search-icon {
  opacity: 0;
  z-index: -1;
}



/*home page*/

.hero-image {
  width:100%;
  height: 500px;

}

.introduction {
  font-size: 30px;
}


.shop-btn {
  background-color:#F86624;
  color: white;
  font-size: 40px;
  border-radius: 30px;
  padding:10px;
  
}

/*product list*/

.icon {
  color: #F86624;
  width: 100px;
}


