@import 'materialize-css/dist/css/materialize.min.css';


html, body {
  font-family: "Raleway", sans-serif; 
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color:white ;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*footer*/


.page-footer {
  margin-top:30px;
  background-color: #3F2DB2!important;
 
}

.footer-link {
  color: #43BCCD;
  font-size: 20px;
}

.social-media-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin: 0 15px; 
}

.social-link {
  color: #43BCCD;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .social-media-container {
      justify-content: center;
      margin-top: 20px;
  }


  .social-links {
      flex-direction: row;
      align-items: center;
  }

  .social-links li {
      margin: 0 10px;
  }
}

/*Navigation bar*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3F2DB2;
}

.left-nav {
  display: flex;
  list-style: none;
}

.logo {
  height:80px;
  padding-top: 20px;
}


/*home page*/

.custom-carousel {
  height: 300px; 
}

.custom-carousel .carousel-item img {
  height: 100%;
  object-fit: contain;
}


.introduction {
  font-size: 20px;
}


.shop-btn {
  background-color:#F86624;
  color: white;
  font-size: 40px;
  font-weight: 600;
  border-radius: 30px;
  padding:18px;
  
}

/*product list*/

.icon {
  color: #F86624;
  width: 100px;
}


